#headerarea {
    display: flex;
    background-image: linear-gradient(45deg, transparent, blue, transparent);
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}

#head {
    padding: 15px 0px;
    width: 80%;
    font-size: xxx-large;
    font-weight: 600;
}

#logo {
    height: 80px;
    float: left;
    margin-left: 20px;
    padding-top: 10px;
}

#dataentrypane {
    margin-top: 20px;
    padding: 0% 10% 0% 10%;
}

.row{
    margin: 0%;


}

.label{
    font-size: x-large;
    font-weight: 500;
    margin: 0%;
}

/* ------------------------------------------------------------------------------------ */
@media only screen and (max-width: 600px) {
    #headerarea {
        font-size: x-large;
    }
    #logo {
        height: 50px;
        margin-left: 5px;
    }
    .picon, #eyeslash {
        font-size: 20px;
        padding-top: 25px;
    }
    #viewarea {
        width: 100%;
    }
    #previewheading{	    
        font-size:x-large;	       
    }

    .topAlign {
        font-size: large;
    }
    #buttonarea {
        display: none;
    }
    
    #iQuestion {
        font-size: larger;
    }

    #iQuestion h3 {
        margin: 0px;
    }
    .ibtn {
        font-size: small;
        min-width: 70%;
        
    }
   #iChoices {
       
        display: none;
        font-size: medium;
        width: 100%;
        
    }
    
    #iResponse {
        max-width: 100%;
        width: 100%;
        font-size: 20px;
        border: none;
        margin:0px;
    }
    
    #sendText {
        display: none;
    }
    #sendReportBtn {
        width: 20%;
    }
}