body {
    height: 100vh;
    margin: 0px;
}

#headerarea {
    display: flex;
    background-image: linear-gradient(45deg, transparent, blue, transparent);
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    height: 10%;
}

#head {
    width: 80%;
    font-size: xxx-large;
    font-weight: 600;
}

#logo {
    height: 80px;
    float: left;
    margin-left: 20px;
    padding-bottom: 1%;
    padding-top: 10px;
}

#dataentrypane {
    background-image: url("Images/bg1.png");
    padding: 2% 10% 0% 10%;
    height: 84%;
}
/* #footer_area{
    padding: 0% 10% 0% 10%;
} */

.labels{
    width: 25%; 
    padding: 1% 1% 1% 1%; 
    text-align: center; 
    font-size: x-large;
    font-weight: 600;
}

#footer_area {
    height: 6%;
}

.row{
    padding-top: 3%;
}
.form-range{
    width: 100%;
}
.col{
    font-size: larger;
    font-weight: 400;
}

.label{
    font-size: x-large;
    font-weight: 500;
    margin: 0%;
}
#footer_area{
    height: 6%;
}

.footer_buttons{
    height: 100%;
    margin: 0;
    padding: 0%;
}

.parent{
    display: flex;
  }
    .h-rs {
      position: relative;
    }
    
    .h-rs-container {
      display: flex;
      flex-direction: column;
      width: 75%;
    }
    
    .h-rs-indicator {
      width: 3%;
      border-radius: 30%;
      text-align: center;
      font-size: x-large;
      line-height: 35px;
      background:#8a2be23d;
      position: absolute;
      top: -65%;
      /* left: 0; */
      margin-left: -1%;
    }
    
    .h-rs-indicator::after {
      content: '';
      /* width: 0;
      height: 0; */
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 9px solid black;
      position: absolute;
      top: 98%;
      left: 50%;
      margin-left: -8px;
    }
    
    .h-rs-line {
      width: 80%;
      margin-top: 24px;
      -webkit-appearance: none;
      border-radius: 24px;
      background-color: blueviolet;
    }
    
    .h-rs-line::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 7px;
      /* border-radius: 24px; */
    }
    
    .h-rs-line::-webkit-slider-thumb {
      -webkit-appearance: none;
      background:chartreuse;
      height: 18px;
      width: 18px;
      border-radius: 100%;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
      margin-top: -5.5px;
    }
    
    #sendReport {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0px;
    }
       
    #sendText {
        display: inline;
    }



/* ------------------------------------------------------------------------------------ */
@media only screen and (max-width: 600px) {
    #headerarea {
        font-size: x-large;
    }
    #logo {
        height: 50px;
        margin-left: 5px;
    }
    .picon, #eyeslash {
        font-size: 20px;
        padding-top: 25px;
    }
    #viewarea {
        width: 100%;
    }
    #previewheading{	    
        font-size:x-large;	       
    }

    .topAlign {
        font-size: large;
    }
    #buttonarea {
        display: none;
    }
    
    #iQuestion {
        font-size: larger;
    }

    #iQuestion h3 {
        margin: 0px;
    }
    .ibtn {
        font-size: small;
        min-width: 70%;
        
    }
   #iChoices {
       
        display: none;
        font-size: medium;
        width: 100%;
        
    }
    
    #iResponse {
        max-width: 100%;
        width: 100%;
        font-size: 20px;
        border: none;
        margin:0px;
    }
    
    #sendText {
        display: none;
    }
    #sendReportBtn {
        width: 20%;
    }
}