body {
    height: 100vh;
    margin: 0%;
    background-image: linear-gradient(180deg, #c2cacb,#ee8d3e);
}

#headerarea {
    display: flex;
    background-image: linear-gradient(45deg, transparent, blue, transparent);
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    height: 10%;
}

#head {
    width: 80%;
    font-size: xxx-large;
    font-weight: 600;
    padding-top: 0.5%;
    padding-left: 8%;
}

#logo {
    height: 90%;
    float: left;
    margin-left: 1%;
    padding-top: 0.5%;
}

#dataentrypane {
    /* background-image: linear-gradient(180deg, #c2cacb,#ee8d3e); */
    /* background-image: url("Images/bg1.png"); */
    padding: 1% 10% 0% 10%;
    height: 84%;
}

#thankYou {
    display: none;
    text-align: center;
}


#success { 
    font-size: 1000%;
    color: green;
    padding: 5%;
    padding-top: 10%;
}

.labels{
    width: 25%; 
    padding: 1% 1% 1% 1%; 
    text-align: right; 
    font-size: larger;
    font-weight: 600;
}

#footer_area {
    height: 6%;
}

.row{
    padding-top: 3%;
}
.form-range{
    width: 100%;
}
.col{
    font-size: larger;
    font-weight: 400;
}

.label{
    font-size: x-large;
    font-weight: 500;
    margin: 0%;
}
#footer_area{
    height: 6%;
}

.footer_buttons{
    height: 100%;
    margin: 0;
    padding: 0%;
}

.parent{
    display: flex;
    margin: 1%;
  }
    .h-rs {
      position: relative;
      
    }
    
    .h-rs-container {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin-left: 5%;
      margin-top: 0.5%;
    }
    
    .h-rs-indicator {
      width: 3%;
      border-radius: 30%;
      text-align: center;
      font-size: x-large;
      line-height: 140%;
      background:#8a2be23d;
      position: absolute;
      top: -70%;
      /* left: 0; */
      margin-left: -1%;
    }
    
    .h-rs-indicator::after {
      content: '';
      /* width: 0;
      height: 0; */
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 9px solid black;
      position: absolute;
      top: 98%;
      left: 50%;
      margin-left: -23%;
    }
    
    .h-rs-line {
      width: 80%;
      margin-top: 2%;
      -webkit-appearance: none;
      border-radius: 50%;
      background-color: blueviolet;
    }
    
    .h-rs-line::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 7px;
      /* border-radius: 24px; */
    }
    
    .h-rs-line::-webkit-slider-thumb {
      -webkit-appearance: none;
      background:chartreuse;
      height: 18px;
      width: 18px;
      border-radius: 100%;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
      margin-top: -5.5px;
    }
    
    #sendReport {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0px;
    }
       
    #sendText {
        display: inline;
    }
    #resume{
        font-size: 400%;
        margin-left: 70%;
        /* margin: 2% 0% 0% 48%; */
        color: brown;
    }
    #sendReportBtn{
        height: -webkit-fill-available;
        margin: 2% 0% 1% 1%;
        font-size: 130%;
    }
    #send_icon{
        font-size: 220%;
        color: #1819f8;
        margin: 1%;
    }
    #sendReportInt{
        margin: 1%;
    }
/* ------------------------------------------------------------------------------------ */
@media only screen and (max-width: 600px) {
    #resume{
        margin-left: 35%;
        font-size: 290%;
    }
    #sendText {
        display: inline;
        font-size: 80%;
    }
    #logo{
        padding: 2%;
        margin-left: 0%;
    }
    .h-rs-indicator::after{
        margin-left: -30%
    }
    #head {
        font-size: xx-large;
        font-weight: 650;
        padding: 3%;
        text-align: left;
        margin-top: 2%;
    }
    
   .parent{
       display: block;
   }
   .labels{
       width: 100%;
       text-align: left;
       font-size: larger;
       font-weight: 450;
   }
   .h-rs-container{
       width: 100%;
       margin-top: 4%;
   }
   .h-rs-indicator {
       width: 7%;
       font-size: unset;
       height: 85%;
       line-height: 100%;
       top: -100%;
   }
}