body {
    height: 100vh;
    margin: 0%;
    background-image: linear-gradient(180deg, #c2cacb,#ee8d3e);
}

/* #header_area {
    display: flex;
    background-image: linear-gradient(45deg, transparent, blue, transparent);
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    height: 10%;
} */